* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4891ff;
    --light-color: #f4f4f4;
    --dark-color: #111;
    --backgound-color: #2c2c2c;
    --effect-yellow:#FFCE1B;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: var(--backgound-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* TBA html files*/

.tba-page .tba-container{
    display: grid;
    place-items: center;
    height: 100vh;
}

.tba-page .tba-heading {
    text-align: center;
    color: var(--light-color);
}



/* Navbar */

.navbar {
    background: var(--backgound-color);
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

.navbar ul li:last-child a{
    margin-left: 10px;
}

.navbar ul li a i {
    margin-right: 10px;
}



/* Hero classes */

.hero{
    margin-bottom: 0px;
}

.hero .hero-content{
    width: 100%;
}

.hero .hero-heading{
    text-align: center;
    padding-bottom: 20px;
    vertical-align: center;
}

.hero .hero-heading1{
    vertical-align: center;
}

.hero .hero-heading2{
    vertical-align: center;
    color: var(--effect-yellow);
}

.hero .hero-image-face {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 50%;
    border-radius: 50%;
}

.hero .hero-image {
    padding-bottom: 35px;
}

.hero .hero-content{
    width: 100%;
}

.hero .hero-text{
    width: 100%;
    text-align: center;
    color: var(--light-color);
}



/* More About */

.more-about {
    padding-top: 35px;
    padding-bottom: 45px;
}
.more-about-content{
    text-align: center;
}

.more-about .btn-more-about{
    background: var(--primary-color);
    color: #fff;
    font-size: 1.25rem;
    transition: 0.5s;
}

.more-about .btn-more-about:hover {
    background-color: var(--effect-yellow);
    color: var(--dark-color);
}



/* Parallax */

.parallax .pimg{
    display:flex;
    align-items: center;
    justify-items:center;
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url("../images/00364-lut-forest-faces.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
    background-attachment: fixed;
}

.parallax .parallax-container{
    width: 100%;
    background-color: var(--primary-color);
}

.parallax .parallax-title{
    padding: 20px 0 0 0;
    text-align: center;
}

.parallax .parallax-p{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    text-align:center;
    padding: 10px 50px 20px;
}



/* Careers */

.careers {
    padding: 40px 0;
}

.careers .careers-heading{
    text-align: center;
    width: 700px;
    margin-bottom: 40px;
    color: var(--light-color);    
}

.careers-grid{
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.careers .card p:nth-child(2){
    margin-top: 30px;
    font-weight: bold;
}

.careers .card-img{
    display:block;
    height: 20vh;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto; 
}

.careers .careers-subheading{
    text-align: center;
}



/* Footer */

.footer {
    padding: 40px 0;

}
.footer h4 {
    margin-bottom: 10px;
}

.footer ul li {
    line-height: 2.5;
}

.footer a {
    color: #ccc;
}

.footer i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.footer .footer-grid {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr ;
    gap: 30px;
    align-items: center;
}

.footer .card {
    margin: 20px 30px 30px 0;
}

.footer input[type="email"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

.footer input[type="name"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

.footer input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    text-overflow: ellipsis;
    margin: 10px 0;
    vertical-align: text-top;
}

.fab .fa-facebook{
    font-size: 90px;
}



/* Utility classes */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Card */ 

.card{
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
}



/* Buttons */

.btn {
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

.btn-hover{
    opacity: 0.8;

}

.btn-primary{
    background: var(--primary-color);
    color: #fff;
}

.btn-dark{
    background: var(--dark-color);
    color: #fff;
}

.btn-block{
    display: block;
    width: 100%;
}



/* Text classes*/

.text-xxl{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl{
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg{
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 30px 0 20px;
}

.text-md{
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 20px 0 10px;
}

.text-sm{
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 10px 0 5px;
}

.text-center{
    text-align: center;
}



/* Background */ 

.bg-primary{ 
    background: var(--primary-color);
    color: #333;
}

.bg-light{ 
    background: var(--light-color);
    color: #333;
}

.bg-dark{ 
    background: var(--dark-color);
    color: #fff;
}

.bg-black{ 
    background: #000;
    color: #fff;
}



/* Hamburger button */ 

.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: var(--light-color);
    margin: 6px 0;
}



/* Mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: var(--backgound-color);
    box-shadow: 0px +px 10px rgba(255, 254, 254, 0.2);
    transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
}



/* Media queries */

@media (max-width: 960px) {
    .text-xxl {
        font-size: 2.5rem;
    }
}

@media (min-width: 675px) {
    .mobile-menu{
        display: none
    }
}

@media (max-width: 675px) {

    /* Navbar */
    .navbar .main-menu {
        display: none;
    }

    .navbar .hamburger-button {
        display: block;
    }

    /* Hero */
    .hero .container {
        background-size: 350px;
        background-position: bottom;
        height: 770px;
    }
    
    .hero .hero-content, 
    .hero .hero-text {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .hero .hero-buttons .btn {
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }

    /* Careers */
    .careers .careers-heading {
        max-width: 100%;
        text-align: center;
    }

    .careers .card {
        width: 50%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Grids */

    .careers .careers-grid, 
    .footer .footer-grid {
        grid-template-columns: 1fr;
    }

    /* Parallax */

    .parallax .parallax-p{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        text-align:center;
        padding: 10px 50px 20px;
    }

    /* Footer */

    .footer .footer-grid > div {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    /* Text */
    .text .text-xl{
        font-size: 1.9rem;
    }
    .text .text-lg {
        font-size: 1.5rem;
    }
    .text .text-md {
        font-size: 1.1rem;
    }
}

